:root{
--cor-fundo:#d074f5d8;
--cor-principal:#f57ee1;
--cor-secundaria:#a82387;
--cor-texto:#020202;
--cor-destaque:#d625a1;
}

body{

background-color: var(--cor-fundo);
color:var(--cor-texto);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.caixa-principal{

    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}